body {
  background: linear-gradient(rgba(50, 150, 243, 0.904),rgba(121, 233, 248, 0.651) );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
